*{
    margin: 0;
    padding: 0;
}

/* utils  */

.d-none{
    display: none;
}

.mb-2{
    margin-bottom: 6px ;
}

.tx-md {
    text-align: center !important;
}

a{
    text-decoration: none;
    font-size: 1.5vw;
}

a:visited {
  color: white;
}


/* section */
#section-1{
    height: 170vh;
    background: #112333;
}
#section-2{
    height: 50vh;
}

.text{
    
    position: absolute;
    top: 130vh;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

.text-content{
    width:45%;
    /* text-align: center; */
    text-align: justify;
}

.text-content h3 {
    text-align: center;
    margin-bottom: 15px ;
}

.circle{
    background-color: rgba(100, 178, 212,0.33);
    width: 20vw ;
    height: 20vw;
    border-radius: 50%;
    color: white;
}

.circle:hover{
    background-color: rgba(255, 255, 255, 0.33);
}

#circle-a{
    position: absolute;
    top: 50vh;
    left: 40%;
    z-index: 10;
}
#circle-b{
    position: absolute;
    top: 87vh ;
    right: 28%;
}
#circle-c{
    position: absolute;
    top: 87vh;
    left: 28%;
}

/* block  */
.block-1{
    width: 100%;
    text-align: center;
    margin-top: 20%;
}

/* .block-1 i {
margin-left: 49% !important;
} */

.block-2{
    color: white;
    text-align: center;
    width: 10vw;
    position: absolute;
    top: 98vh;
    left: 33%;
}

.block-3{
    color: white;
    text-align: center;
    width: 10vw;
    position: absolute;
    top: 98vh;
    right:  33%;
}

/* body */



.head{
    position: absolute;
    width: 5px;
    height: 5px;
    top: 83vh;
    left: calc(50% - 3px); ;
    right: 50vw;
    background: white;
    border-radius: 50%;
}
 .line{
    position: absolute;
    width: 1px;
    left: calc(50% - 0.5px); 
    top: calc(83vh + 2px);
    height: 20vw;
    background: white;
} 
.tail{
    position: absolute;
    width: 5px;
    height: 5px;
    top: calc(83vh + 20vw + 2px) ;
    left: calc(50% - 3px); ;
    right: 50vw;
    background: white;
    border-radius: 50%;
} 


/* animation  */

.anim-1 {
    animation: anim1 1s both;
}

@keyframes anim1 {
  from {transform: translateY(5px);
  opacity: 0;  
}
  to {transform: translateY(0px); 
opacity: 1;}
}

.anim-2 {
    animation: anim2 1s both;
}

@keyframes anim2 {
  from {
  opacity: 0;  
}
  to {
opacity: 1;}
}














/* Responsive  */

@media only screen and (min-width: 2000px)  and (min-height: 1150px) {


.head{
    top: 78vh;

}
 .line{

    top: calc(78vh + 2px);

} 
.tail{

    top: calc(78vh + 20vw + 2px) ;

} 

}


@media only screen and (min-width: 1600px)  and (max-width: 1800px)  and (min-height: 950px) {

    body{
        background-color: green;
    }

.head{
    top: 78vh;

}
 .line{

    top: calc(78vh + 2px);

} 
.tail{

    top: calc(78vh + 20vw + 2px) ;

} 

}






@media only screen and (min-width: 1500px)  and (min-height: 760px) {

    body{
        background-color: yellow;
    }

.head{
    top: 80vh;

}
 .line{

    top: calc(80vh + 2px);

} 
.tail{

    top: calc(80vh + 20vw + 2px) ;

} 

}




@media only screen and (max-width: 1300px) and (min-height: 1300px) {
  body {
    background-color: lightblue !important;
  }

  #circle-a{

    top: 75vh;

}
#circle-b{

    top: 92vh ;

}
#circle-c{

    top: 92vh;

}

.head{
    top: 87vh !important;

}
 .line{

    top: calc(87vh + 2px) !important;

} 
.tail{

    top: calc(87vh + 20vw + 2px) !important ;

} 


}

@media only screen and (min-width: 1280px)  and (max-width: 1500px)  and (min-height: 760px) {

    body{
        background-color: green;
    }

.head{
    top: 75vh;

}
 .line{

    top: calc(75vh + 2px);

} 
.tail{

    top: calc(75vh + 20vw + 2px) ;

} 

}


@media only screen and (min-width: 1024px)  and (max-width: 1279px){

    body{
        background-color: purple;
    }

.head{
    top: 78vh;

}
 .line{

    top: calc(78vh + 2px);

} 
.tail{

    top: calc(78vh + 20vw + 2px) ;

} 

}



@media only screen and (min-width: 1024px)  and (max-width: 1279px) and (min-height: 760px) {

    body{
        background-color: purple;
    }

    #circle-a{

        top: 66vh;
    
    }
    #circle-b{
    
        top: 93.5vh ;
    
    }
    #circle-c{
    
        top: 93.5vh;
    
    }

.head{
    top: 80vh;

}
 .line{

    top: calc(80vh + 2px);

} 
.tail{

    top: calc(80vh + 20vw + 2px) ;

} 

}


@media only screen and (max-width: 1024px) {

    body{
        background-color: peru;
    }



 #circle-a{

    top: 64vh;

}
#circle-b{

    top: 93vh ;

}
#circle-c{

    top: 93vh;

}


 .head{
    top: 86vh;

}
 .line{

    top: calc(86vh + 2px);

} 
 .tail{

    top: calc(86vh + 20vw + 2px) ;

} 

}

@media only screen and (max-width: 1024px) and (min-height: 760px) {

    body{
        background-color: peru;
    }



 #circle-a{

    top: 70vh;

}



 .head{
    top: 82vh;

}
 .line{

    top: calc(82vh + 2px);

} 
 .tail{

    top: calc(82vh + 20vw + 2px) ;

} 

}


@media only screen and (max-width: 768px) {
  body {
    background-color: aqua !important;
  }
#circle-a{

    top: 70vh;

}
#circle-b{

    top: 92vh ;

}
#circle-c{

    top: 92vh;

}

 .head{
    top: 84vh;

}
 .line{

    top: calc(84vh + 2px);

} 
 .tail{

    top: calc(84vh + 20vw + 2px) ;

} 

}

@media only screen and (max-width: 768px) and (min-height: 760px) {
    body {
      background-color: aqua !important;
    }
  #circle-a{
  
      top: 77vh;
  
  }
  #circle-b{
  
      top: 92vh ;
  
  }
  #circle-c{
  
      top: 92vh;
  
  }
  
   .head{
      top: 87vh;
  
  }
   .line{
  
      top: calc(87vh + 2px);
  
  } 
   .tail{
  
      top: calc(87vh + 20vw + 2px) ;
  
  } 
  
}

@media only screen and (max-device-width: 1024px) {
  body {
    background-color: aqua !important;
  }

  #circle-a{

    top: 75vh;

}
#circle-b{

    top: 92vh ;

}
#circle-c{

    top: 92vh;

}

.head{
    top: 87vh;

}
 .line{

    top: calc(87vh + 2px);

} 
.tail{

    top: calc(87vh + 20vw + 2px) ;

} 


}


@media only screen and (max-width: 500px) { 
  body {
    background-color: black !important;
  }

#circle-a{

    top: 80vh;

}
#circle-b{

    top: 95.8vh ;

}
#circle-c{

    top: 95.8vh;

}

.head{
    top: 92vh;

}
 .line{

    top: calc(92vh + 2px);

} 
.tail{

    top: calc(92vh + 20vw + 2px) ;

} 

.text-content{
    width:60%;
}

} 


@media only screen and (max-width: 500px) and (min-height: 760px) { 
    body {
      background-color: black !important;
    }
  
  #circle-a{
  
      top: 83vh;
  
  }

  .text-content{
      width:60%;
  }
  
} 

  

@media only screen and (max-device-width: 500px){
  body {
    background-color: red !important;
  }

  #circle-a{

    top: 85vh;

}
#circle-b{

    top: 95vh ;

}
#circle-c{

    top: 95vh;

}

.head{
    top: 92.5vh;

}
 .line{

    top: calc(92.5vh + 2px);

} 
.tail{

    top: calc(92.5vh + 20vw + 2px) ;

} 

.text-content{
    width:80%;
}

}


















